<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">My bills</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Bill ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    12345
                  </th>
                  <td>
                    12/02/2022
                  </td>
                  <td>
                    $200
                  </td>
                  <td>
                    <div>
                      <button type="button"  class="btn btn-primary mt-4">See full bill</button>
                    </div>
                </td>
                </tr>
                <tr>
                  <th scope="row">
                    12345
                  </th>
                  <td>
                    12/09/2022
                  </td>
                  <td>
                    $300
                  </td>
                  <td>
                    <div>
                      <button type="button"  class="btn btn-primary mt-4">See full bill</button>
                    </div>
                </tr>
                <tr>
                  <th scope="row">
                    12345
                  </th>
                  <td>
                    12/04/2022
                  </td>
                  <td>
                    $100
                  </td>
                  <td>
                    <div>
                      <button type="button"  class="btn btn-primary mt-4">See full bill</button>
                    </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  